extends ../layout/layout.pug
block vars
	- var title = 'Каталог рубрик';
block header
	include ../includes/header-categories.pug
block content
	include ../includes/content-categories.pug
block footer
	include ../includes/footer.pug