main.main.main_grey
  .catalog-intro
    .container
      .breadcrumbs
        ul
          li
            a(href="/") Главная
          li —
          li
            span Каталог
      h1.h1-white Наши товары

  .catalog-categories
    .container
      .catalog-categories__items
        .catalog-categories__item
          a.catalog-categories__link(href="")
          .catalog-categories__icon
            img(src="./img/icon1.png" alt="")
          .catalog-categories__title Микросхемы
          .catalog-categories__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        .catalog-categories__item
          a.catalog-categories__link(href="")
          .catalog-categories__icon
            img(src="./img/icon2.png" alt="")
          .catalog-categories__title Разъемы авиационные
          .catalog-categories__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        .catalog-categories__item
          a.catalog-categories__link(href="")
          .catalog-categories__icon
            img(src="./img/icon3.png" alt="")
          .catalog-categories__title Реле
          .catalog-categories__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
