main.main.page-404
  .container
    h1 Ошибка!
    p Извините, кажется, такой страницы не существует. Вы можете вернуться<br>на главную страницу или выбрать товары в каталоге
    .buttons-flex
      a.button() На главную
      a.button-bordered() В каталог