main.main
  .section-hero
    .container
      .section-hero__items
        .section-hero__item(style="background-image:url(./img/aviones-png-3.jpg)")
          .section-hero__title Возможна рассрочка платежа
          .section-hero__text Для вашего удобства возможна поставка продукции без предварительной оплаты с рассрочкой платежа
        .section-hero__item(style="background-image:url(./img/aviones-png-32.jpg)")
          .section-hero__title Крупные заказчики
          .section-hero__text Сотрудничаем с предприятиями, работающими в области энергетики, промышленной автоматизации, медицины, телекоммуникации и связи, охраны и безопасности, ж/д, авиационной и нефтеперерабатывающей промышленностей
        .section-hero__item(style="background-image:url(./img/aviones-png-33.jpg)")
          .section-hero__title Быстрая доставка
          .section-hero__text Имея развитую систему логистики мы осуществляем поставку электронных комплектующих в любую точку России
          .section-hero__counts
            .section-hero__count 1-3
            .section-hero__desc дня - средний срок доставки
  .section-category
    .container
      .section-category__top
        .section-category__icon
          img(src="./img/icon2.png" alt="")
        .section-category__title Разъемы авиационные
        a.button-bordered.button-bordered_blue.button_magic(href="") В каталог
      .catalog__items
        - for (var x = 0; x < 4; x++)
          .catalog__item
            a.catalog__img(href="" style="background-image:url(./img/product.png)")
            .catalog__brand Производитель
            a.catalog__name Название товара
            .catalog__desc
              .catalog__price 16 500 р.
              a.button-bordered.button-bordered_blue(href="") Подробнее
  .section-category
    .container
      .section-category__top
        .section-category__icon
          img(src="./img/icon1.png" alt="")
        .section-category__title Микросхемы
        a.button-bordered.button-bordered_blue.button_magic(href="") В каталог
      .catalog__items
        - for (var x = 0; x < 4; x++)
          .catalog__item
            a.catalog__img(href="" style="background-image:url(./img/product.png)")
            .catalog__brand Производитель
            a.catalog__name Название товара
            .catalog__desc
              .catalog__price 16 500 р.
              a.button-bordered.button-bordered_blue(href="") Подробнее
  .section-category
    .container
      .section-category__top
        .section-category__icon
          img(src="./img/icon3.png" alt="")
        .section-category__title Реле
        a.button-bordered.button-bordered_blue.button_magic(href="") В каталог
      .catalog__items
        - for (var x = 0; x < 4; x++)
          .catalog__item
            a.catalog__img(href="" style="background-image:url(./img/product.png)")
            .catalog__brand Производитель
            a.catalog__name Название товара
            .catalog__desc
              .catalog__price 16 500 р.
              a.button-bordered.button-bordered_blue(href="") Подробнее
  .section-plane
    .container
      .section-plane__columns
        .section-plane__left
          .section-plane__title Вся предлагаемая продукция сертифицирована по международным стандартам качества и поставляется с заводов-изготовителей
          .section-plane__subtitle Наша компания обеспечивает:
          ul.markers
            li Комплекс поставки электронных компонентов по авторизованным каналам
            li Своевременную поставку товара с развитой службой логистики,
            li Гарантию производителя и сертификаты соответствия на поставляемую продукцию
        .section-plane__right
          .section-plane__subtitle В настоящее время компания поставляет следующую линейку электронных компонентов:
          .section-plane__table
              .section-plane__td
                .section-plane__caption Отечественные:
                | ОАО «Элекон» <br>ОАО «Оптика и электроника»<br>ОАО «Копир»<br>ОАО «Исеть» <br>Карачевский завод «Электродеталь», <br>ОАО «Каскад» <br>ОАО «Атлант»<br>ОАО НПК «Северная Заря» <br>ОАО НПП «Старт»<br>ФГУП НПО «Октябрь»<br>Смоленский завод радиодеталей и др.
              .section-plane__td
                .section-plane__caption Импортные:
                | Analog Devices,<br>Farnell, <br>Samtec, <br>Atmel, <br>Microchip, <br>Maxim, <br>Altera, <br>Tracopower, <br>Molex, <br>Hummel, <br>Tyco и др.
          a.button-bordered.button-bordered_white.button-bordered_full(href="") Смотреть товары в каталоге
  .section-form
    .container
      .section-form__title Хотите задать вопрос?
      .section-form__text Если вам нужна консультация, пожалуйста, заполните форму обратной связи и мы перезвоним вам. Это бесплатно!
      form.form.form_grid(action="" method="post")
        .form__field 
          label Как к вам обращаться?
          input(type="text" placeholder="Имя Фамилия")
        .form__field 
          label Ваш телефон:
          input(type="tel" placeholder="+7 (000) 000-00-00")
        .form__field 
          label Ваш e-mail:
          input(type="email" placeholder="example@mail.ru")
        button.button.button_blue(type="submit") Отправить
        .form__agree
          input(type="checkbox")
          label Даю согласие на обработку своих персональных данных


