main.main
  .container
    .breadcrumbs
      ul
        li
          a(href="/") Главная
        li —
        li
          a(href="") Каталог
        li —
        li
          a(href="") Разъемы авиационные
        li —
        li
          span  Название детали
    .product
      .product__top
        .product__left
          #sync3.owl-carousel
            .slide
              img(src="./img/product2.png" alt="")
            .slide
              img(src="./img/product2.png" alt="")
            .slide
              img(src="./img/product2.png" alt="")
            .slide
              img(src="./img/product2.png" alt="")
            .slide
              img(src="./img/product2.png" alt="")
            .slide
              img(src="./img/product2.png" alt="")
          #sync4.owl-carousel
            .slide-min
              img(src="img/product2.png" alt="")
            .slide-min
              img(src="img/product2.png" alt="")
            .slide-min
              img(src="img/product2.png" alt="")
            .slide-min
              img(src="img/product2.png" alt="")
            .slide-min
              img(src="img/product2.png" alt="")
            .slide-min
              img(src="img/product2.png" alt="")
        .product__right
          h1 Вилка ШРА-200ЛК
          .product__intro
            p Штепсельный РазъемШРА-200ЛКпредназначен для соединения/разъединения цепей кабельных агрегатов питания с бортовой сетью запуска летательных аппаратов
          .product__options-title Технические характеристики:
          .product__options
            .product__option
              span.product__option-left Номинальная сила тока на силовых контактах
              span.product__option-dots
              span.product__option-right 200 А
            .product__option
              span.product__option-left Вид тока
              span.product__option-dots
              span.product__option-right 200 А
            .product__option
              span.product__option-left Максимальное рабочее напряжение
              span.product__option-dots
              span.product__option-right 200 А
          .product__buttons
            .product__price 7 500 р.
            a.button.button_blue(href="") Отправить заявку
      .product__tabs
        .tabs
          ul
            li Описание
            li Оплата
            li Доставка
            li Гарантии
          div
            div
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            div
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            div
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            div
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
    .products-similar
      .products-similar__title
        h2 Похожие товары
        a.button-bordered.button-bordered_blue(href="") В каталог
      .catalog__items
        - for (var x = 0; x < 4; x++)
          .catalog__item
            a.catalog__img(href="" style="background-image:url(./img/product.png)")
            .catalog__brand Производитель
            a.catalog__name Название товара
            .catalog__desc
              .catalog__price 16 500 р.
              a.button-bordered.button-bordered_blue(href="") Подробнее