header.header.header_main
	.container.container_flex
		a.logo(href="/index.html")
			img(src="./img/logo.png" alt="")
			span.logo__text
				span.logo__title Technology Electronics
				span.logo__subtitle Our commitment. Your success
		nav.menu
			ul
				li
					a(href="") О нас
				li
					a(href="") Каталог
				li
					a(href="") Новости
				li
					a(href="") Контакты
		.contacts-info
			a.contacts-info__phone(href="tel:+74952214559") (495) 221 45 59
			a.contacts-info__callback(href="") Заказать звонок
		.hamburger.hamburger--squeeze.js-hamburger
			.hamburger-box
				.hamburger-inner
	.container
		.header-intro
			.header-intro__title Комплектующие для самолетов
			.header-intro__text Комплексные поставки отечественной и импортной электронной компонентной базы
			a.button.button_white(href="") Подробнее
